.EmitirFacturaManual-container{
    max-width: 1600px;
    /* Limita el ancho máximo del formulario */
    max-height: 900px;
    /* Limita el ancho máximo del formulario */
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.tabla-servicios {
    font-size: 14px; /* Tamaño de fuente más pequeño */
    border-collapse: collapse; /* Sin espacios entre celdas */
    table-layout: fixed; /* Establece anchos fijos para las columnas */
    width: 100%; /* Asegura que la tabla use el ancho completo */
    max-height: 200px;
    overflow-y: auto; /* Permite el desplazamiento vertical */
    display: block; /* Hace que la tabla se comporte como un bloque */
    border-radius: 5px;
}

.tabla-servicios tbody {
    overflow-y: auto; /* Permite el desplazamiento vertical */
    max-height: 150px; /* Ajusta la altura para 3 filas */
}

.tabla-servicios th, .tabla-servicios td {
    padding: 2px 5px; /* Espaciado reducido */
    text-align: left; /* Alineación del texto a la izquierda */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.tabla-servicios th {
    background-color: #143361; /* Color de fondo para las cabeceras */
    font-weight: bold;
    color: white;
    padding: 2px 5px;
}

/* Define anchos para las columnas */
.tabla-servicios th:nth-child(1),
.tabla-servicios td:nth-child(1) {
    width:30%; /* Columna Codigo */
}

.tabla-servicios th:nth-child(2),
.tabla-servicios td:nth-child(2) {
    width: 30%; /* Columna Descripcion */
}

.tabla-servicios th:nth-child(3),
.tabla-servicios td:nth-child(3) {
    width: 10%; /* Columna Moneda */
}

.div-renglon-datos-facturasmanuales {
    display: flex;
    width: 100%;
    gap: 20px;
    /* Espacio entre los campos */

}

.div-renglon-datos-facturasmanuales div {
    width: 48%;
}

.factura-pre-aprobada {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .factura-label {
    display: flex;
    align-items: center;
    gap: 5px; /* Espacio entre el label y el checkbox */
    white-space: nowrap; /* Evita que el texto del label se corte */
    font-size: 16px; /* Ajusta el tamaño según sea necesario */
     user-select: none;
  }
  
  .factura-label input[type="checkbox"] {
    margin-left: 10px; /* Espacio entre el texto y el checkbox */
  }

  .pdf-container {
    width: 100%;         /* Ocupa todo el ancho disponible */
    max-width: 800px;    /* Máximo ancho para pantallas grandes */
    margin: 0 auto;      /* Centra el contenedor horizontalmente */
    height: 600px;       /* Altura específica para el contenedor */
    border: 1px solid #ddd;  /* Borde ligero para separación visual */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
    overflow: hidden;    /* Elimina scroll en el contenedor */
    border-radius: 8px;  /* Bordes redondeados */
  }
/*CSS APROBAR FACTURAS*/
  .aprobarfacturas {
    display: grid;
    grid-template-columns: 0.7fr 0.4fr 1fr; /* Tres columnas de igual ancho */
    gap: 20px; /* Espacio entre las columnas */
    width: 90vw; /* Ancho completo de la ventana */
    padding: 20px;
    box-sizing: border-box;
  }
  
  .servicios, .filtros, .pdf-container {
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #fff;
    height: calc(100vh - 80px); /* Altura ajustada a la pantalla menos el padding */
    
  }

  /*Estilo para los campos*/
.filtros input,
.filtros select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    color: gray;
    
}

.BotonesPDFAprobarFacturas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espacio entre botones */
    margin-top: 20px;
}

.action-buttonaprobarfac,
.btn-nc {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Botones de navegación */
.action-buttonaprobarfac {
    background-color: #00a6ed;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease; /* Suaviza el cambio */
}

.action-buttonaprobarfac:hover {
    background-color: #00a6ed; /* Opcional: Cambia a un tono más oscuro en hover */
    transform: scale(1.1); /* Escala el botón al 110% de su tamaño original */
}

/* Botón "Ver NC" */
.btn-nc {
    background-color: #dc3545;
    color: white;
}

.btn-nc:hover {
    background-color: #b02a37;
}

.subtitulo-estandaraprobar {
    color: #143361;
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 20px; /* Puedes ajustar el tamaño según lo que necesites */
    margin: 20px; /* Si no deseas espacio adicional alrededor del subtítulo */
}

.TablaServiciosAprobarFacturas th,
.TablaServiciosAprobarFacturas td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #dddddd;
}

.TablaServiciosAprobarFacturas th {
    background-color: #143361;
    color: white;
}

.TablaServiciosAprobarFacturas select {
    width: 120px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    color: gray;
}

.TablaServiciosAprobarFacturas {
    font-size: 1em;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    display: block;
    border-radius: 5px;
    margin: 20px 0;
}

.TablaServiciosAprobarFacturas tbody {
    overflow-y: auto;
}

/* Centrar la segunda columna (monto) tanto en th como en td */
.TablaServiciosAprobarFacturas th:nth-child(2),
.TablaServiciosAprobarFacturas td:nth-child(2) {
    text-align: center; /* Centrar la segunda columna */
}



